<section class="home">
	<h1>Bienvenido</h1>

	<div class="open-cash-button">
		<%= link_to new_order_path do %>
			<button>Abrir Caja</button>	
		<% end %>	
	</div>

	<div class="managers-access">
		<%= link_to new_manager_session_path do %>
			<button>Acceso Gerencia</button>
		<% end %>	
	</div>
</section>


