header {
	nav {
		ul {
			@include outer-container;
			li {
				@include span-columns(2);
				a {
					text-decoration: none;
				    background: green;
				    padding: 6px 30px;
				    border-radius: 5px;
				    color: white;
				}
			}
		}
	}
}