<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>LaPapitaPro</title>
  <script type="text/javascript" src="/assets/rsvp-3.1.0.min.js"></script>
   <script type="text/javascript" src="/assets/sha-256.min.js"></script>
   <script type="text/javascript" src="/assets/qz-tray.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
